@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div id="out">
        <div id="out">
            <div id="avalonia-splash">
                <div class="center">
                    <h2 class="purple">
                        Загрузка
                    </h2>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="module" src="~/wasm.js"></script>
